{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center align-items-center background-div mx-auto">
        <div class="col-md-8">
            <div class="card p-3 bg-secondary bg-light text-black shadow rounded-5">
                {% if user.is_authenticated %}
                    <h2 class="fs-5 mb-1">Join us</h2> <!-- Added class mb-4 to reduce space -->
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                    <h2 class="fs-5 mb-1">Welcome {{ user.username }}, you logged in successfully.</h2> <!-- Added class mb-4 to reduce space -->
                    <div class="container mt-5">
                        <div class="row equal-height">
                          <!-- Card 1: Welcome New Experts! -->
<div class="col-md-12 col-lg-4 mb-3">
    <div class="card bg-light  ">
        <div class="card-body">
            <h5 class="card-title">Welcome New Experts!</h5>
            <p class="card-text">Meet Dr. Emily Johnson, our stress management expert. Her articles provide actionable tips to tackle mental health challenges effectively.</p>
            <p class="blockquote-footer d-none d-sm-block">User123: "Dr. Johnson's article on anxiety was incredibly helpful! Thanks for sharing her expertise."</p>
        </div>
    </div>
</div>
<!-- Card 2: Meet Our Newest Addition -->
<div class="col-md-12 col-lg-4 mb-3">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Meet Our Newest Addition</h5>
            <p class="card-text">Welcome Chef Miguel Sanchez, renowned for his innovative recipes. Get inspired to explore new flavors and techniques in your kitchen.</p>
            <p class="blockquote-footer d-none d-sm-block">User456: "Chef Sanchez's lasagna recipe was a hit with my family! Looking forward to more culinary delights."</p>
        </div>
    </div>
</div>
<!-- Card 3: Fresh Insights Await! -->
<div class="col-md-12 col-lg-4 mb-4">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Fresh Insights Await!</h5>
            <p class="card-text">Dr. Sarah Patel, an expert in sustainable living, offers insights to help you make eco-friendly choices and lead a greener life.</p>
            <p class="blockquote-footer d-none d-sm-block">User789: "Dr. Patel's tips on reducing plastic waste were eye-opening. Excited to adopt these changes for the planet."</p>
        </div>
    </div>
</div>
                        </div>
                    </div>
                {% else %}
                    <h1>RBM.io</h1>
                    <p>You are not logged in</p>
                    <p>
                        Partner with us today and experience the difference of working with a truly global leader in IT services. 
                        Let us be your strategic ally in navigating the complexities of the digital 
                        age and unlocking new opportunities for growth and innovation. Together, we can build a brighter, more connected future for your business.
                    </p>    
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="{% url 'account_login' %}" class="btn btn-primary">Access your customer profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="{% url 'account_signup' %}" class="btn btn-success">Sign UP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}