{% extends 'base.html' %}
{% block title %}Expert Detail{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h3>Filters</h3>
            <div class="form-group">
                <label for="skill">Skill:</label>
                <select class="form-control" id="skill" name="skill">
                    <option value="">All</option>
                    {% for skill in skills %}
                    <option value="{{ skill }}">{{ skill }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-9">
            <h1>All Experts</h1>
            <div class="table-responsive" id="expert-table">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Skill</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expert in experts %}
                        <tr>
                            <td>{{ expert.user.username }}</td>
                            <td>{{ expert.user.first_name }}</td>
                            <td>{{ expert.user.last_name }}</td>
                            <td>{{ expert.start_date }}</td>
                            <td>
                                {% for skill in expert.skills.all %}
                                {{ skill.category }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for skill in expert.skills.all %}
                                {{ skill.name }}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}