{% extends 'base.html' %}

{% block title %}About RBM Company{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center justify-content-center background-div">
        <div class="col-md-8 p-5 m-5 bg-secondary bg-light text-black shadow rounded-5">
            <h1 class="text-center mb-2">RBM Company</h1>
            <p class="lead">A dynamic booking consultancy firm connecting clients with experts across various fields.</p>
            
            <h3 class="text-center mb-2">How it Works</h3>
            <div class="container">
                <div class="row row-equal">
                    <!-- Card 1 -->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <div class="card bg-light shadow-sm h-100">
                            <div class="card-body">
                                <strong>1. Booking Consultant:</strong> 
                                The website serves as a booking consultant, helping clients find the perfect expert by allowing them to input their requirements, preferences, and desired skill sets, generating a curated list of matching experts.
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <div class="card bg-light shadow-sm h-100">
                            <div class="card-body">
                                <strong>2. Check the List of Experts:</strong> 
                                After specifying their requirements, clients can browse through detailed expert profiles showcasing skills, experience, and expertise.
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <div class="card bg-light shadow-sm h-100">
                            <div class="card-body">
                                <strong>3. Find the Skillset You Need:</strong> 
                                Clients can efficiently filter experts by specific skills needed, such as IT consulting, marketing, or legal advice, ensuring they find the right match.
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <div class="card bg-light shadow-sm h-100">
                            <div class="card-body">
                                <strong>4. Get the Expert Right to Your Door:</strong> 
                                After selecting an expert, clients can book their services directly through the website. RBM handles all logistics, from scheduling to coordination, ensuring prompt arrival at the client's location.
                            </div>
                        </div>
                    </div>
                    <!-- Card 5 -->
                    <div class="col-md-12 col-lg-6 mb-3">
                        <div class="card bg-light shadow-sm h-100">
                            <div class="card-body">
                                <strong>5. Next Morning Service:</strong> 
                                RBM's swift service ensures that clients can have the expert at their doorsteps as soon as the next morning after booking, providing timely assistance and support for their projects or tasks without delays.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}